<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastel Planner</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <div class="page-container">
            <div class="background-radial"> </div>

            <header>
                <nav class="navigation-bar">
                    <div class="header-title">
                        <h1>Pastel Planner</h1>
                        <div class="social-icons">
                            <a href="www.linkedin.com/in/ellaine-gonzales-50770234b" id="linkedIn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32.521" height="32.521"
                                    viewBox="0 0 28 28" fill="none">
                                    <g clip-path="url(#clip0_1253_71)">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M27.3191 13.6596C27.3191 21.2035 21.2035 27.3191 13.6596 27.3191C6.1156 27.3191 0 21.2035 0 13.6596C0 6.1156 6.1156 0 13.6596 0C21.2035 0 27.3191 6.1156 27.3191 13.6596ZM5.95472 21.6277H9.25863V10.9879H5.95472V21.6277ZM5.69149 7.60494C5.69149 8.66145 6.54841 9.53653 7.6049 9.53653C8.66102 9.53653 9.51831 8.66145 9.51831 7.60494C9.51831 7.09746 9.31671 6.61077 8.95788 6.25193C8.59905 5.89308 8.11236 5.69149 7.6049 5.69149C7.09743 5.69149 6.61075 5.89308 6.25191 6.25193C5.89308 6.61077 5.69149 7.09746 5.69149 7.60494ZM18.3273 21.6277H21.6277V15.7831C21.6277 12.923 21.013 10.7211 17.6692 10.7211C16.0617 10.7211 14.9843 11.6033 14.5432 12.4393H14.4969V10.9879H11.3282V21.6277H14.6286V16.3594C14.6286 14.972 14.8918 13.6309 16.6095 13.6309C18.3024 13.6309 18.3273 15.2139 18.3273 16.4483V21.6277Z"
                                            fill="#2C3838" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1253_71">
                                            <rect width="27.3191" height="27.3191" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                            <a href="https://github.com/Gnzlla/Pastel-Planner-Event-Countdown-Dashboard" id="gitHub">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32.521" height="32.521"
                                    viewBox="0 0 28 27" fill="none">
                                    <path
                                        d="M13.6596 0C6.11266 0 0 6.11607 0 13.6596C0 19.696 3.91347 24.8149 9.33973 26.6191C10.0227 26.7477 10.2731 26.3254 10.2731 25.9623C10.2731 25.6379 10.2618 24.7785 10.2561 23.6402C6.45643 24.4643 5.65506 21.8075 5.65506 21.8075C5.03355 20.231 4.13544 19.8098 4.13544 19.8098C2.89811 18.9629 4.23105 18.98 4.23105 18.98C5.6027 19.0756 6.32324 20.3869 6.32324 20.3869C7.54122 22.4757 9.52072 21.8724 10.3016 21.5229C10.4245 20.6396 10.7763 20.0375 11.1667 19.696C8.13314 19.3545 4.94477 18.1798 4.94477 12.9459C4.94477 11.4547 5.47407 10.2367 6.35056 9.28054C6.19689 8.93564 5.73588 7.54692 6.47009 5.66531C6.47009 5.66531 7.61407 5.29878 10.2265 7.06542C11.3192 6.76149 12.4803 6.61123 13.6414 6.6044C14.8024 6.61123 15.9635 6.76149 17.0563 7.06542C19.6516 5.29878 20.7956 5.66531 20.7956 5.66531C21.5298 7.54692 21.0688 8.93564 20.9322 9.28054C21.803 10.2367 22.3323 11.4547 22.3323 12.9459C22.3323 18.1934 19.1393 19.3488 16.1001 19.6846C16.5782 20.0944 17.0221 20.9322 17.0221 22.2116C17.0221 24.0397 17.005 25.5081 17.005 25.9521C17.005 26.3106 17.2441 26.7375 17.9441 26.6009C23.4091 24.8092 27.3191 19.6869 27.3191 13.6596C27.3191 6.11607 21.2031 0 13.6596 0"
                                        fill="#2C3838" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </nav>
            </header>