* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.reminder-card {
    color: #2C3838;
    font-family: Poppins;
    font-size: 14.103px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-self: center;
}

#month-day,
.button-event {
    display: flex;
    justify-content: center;
}

.month {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #2C3838;
    font-family: Inter;
    font-size: 216.948px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: transparent;
}

.day {
    color: #2C3838;
    font-family: Inter;
    font-size: 216.948px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#addEvent {
    display: flex;
    align-items: center;
    width: 190px;
    height: 35px;
    gap: 35px;
    border-radius: 10px;
    background: white;
    box-shadow: 3px 4px 7.2px 0 rgba(0, 0, 0, 0.25);
    color: #2C3838;
    font-family: Poppins;
    font-size: 14.103px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    padding: 0 7px;
}

#addEvent:hover {
    background-color: #2C3838;
    color: white;
    cursor: pointer;
}

#addEvent span {
    display: flex;
    align-items: center;
}

.calendar-container {
    width: 22px;
    height: 23px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(14, 123, 129, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-horizontal-calendar{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#horizontal-calendar{
    display: flex;
    flex-direction: row;
    width: 700px;
    justify-items: center;
    font-size: 18px;
    font-family: Poppins;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
    border: transparent;
    background-color: transparent;
    scrollbar-width: none;
}

.calendar-day{
    display: inline-block;
  color:#2C3838;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.calendar-day:hover{
    border-radius: 7.929px;
    background-color: #2C383810;
    cursor: pointer;
}

.calendar-day.active {
    background-color: #2C3838;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}